/* navbar */
main {

    height: 100vh;
}

.mainsContainer {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
}

.navbar {
    position: sticky;
    margin-top: 0 !important;
    width: 100%;
    display: inline-flex;
    background-color: #d2e10c;
    border-bottom: dashed;
    border-style: double;
    border-width: 10px;
    border-radius: 25px;
    height: 7vh;
}

.searchInput {
    border-radius: 25px;
    position: relative;
    width: 110%;
}

.leftNavbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
    display: flex;
    list-style: none;
    padding-left: 0.5%;
    height: 100%;
}

.centerNavbar {
    margin: auto;
    margin-top: 0 !important;
    display: inline-block;
    display: flex;
    height: 100%;
    list-style: none;

}

ul {
    padding-right: 0px;
    padding-inline-start: 0%;
}

.searchIcon {
    margin-right: 5%;
}

.rightNavbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    display: inline-block;
    display: flex;
    list-style: none;
    height: 100%;
    width: 13%;
}

li {
    padding-left: 3%;
    margin-bottom: 2%;
}

.searchElement {
    width: 50%;
}

.iconsContainer {

    position: relative;
    padding-top: 3%;
}

.iconsContainer i {
    position: absolute;
    color: #df570e;
    top: 18%;
    left: 90%;

}

.homeIconLogo {
    width: 4.5vh;
    padding-top: 1%;
    padding-left: 0%;
    padding-bottom: 1%;
    color: #ef0067;
}



.homeIcon {
    color: #ef0067;
    margin: auto;
    font-size: xx-large;
}

.pawIcon {
    color: #ef0067;
    margin: auto;
    font-size: xx-large;
    padding-left: 30%;
}



.profileImageLi {
    width: 10vh;
    padding-top: 1%;
    padding-left: 0%;
    padding-bottom: 1%;
    color: #ef0067;
    height: 100%;
}

.navrightIcons {
    margin: auto;
    margin-right: unset;
    color: #1f92eb;
    font-size: xx-large;
    float: right;
}

.linkIcon {
    color: #ef0067;
}

.linkIcon:hover {
    color: #0e99df;
}

/* main */

.mainsSection {

    position: relative;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 87.5vh;
}

.leftSidebar {
    margin: auto;
    display: block;
    width: 20%;
    float: left;
    align-items: center;
    justify-content: center;
    background-color: #0af4f4;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
}

.postSection {
    margin: auto;
    display: grid;
    width: 60%;
    float: left;
    height: 100%;
    border-color: rgb(203, 220, 20);
    border-radius: 25px;
}

.rightSide {
    margin: auto;
    display: block;
    width: 18%;
    float: right;
    align-items: center;
        justify-content: center;
        background-color: #0af4f4;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 25px;
        margin-bottom: 25%;
}

.leftContainer {
    display: block;
    margin: auto;
    width: 100%;

}

.centerContainer {
    width: 100%;
    margin-left: 2.5%;
    border-style: double;
    border-width: 20px;
    border-color: rgb(238, 164, 14);
    border-radius: 25px;
    background-image: url("../../ComponentImages/logo1.png");
    background-color: rgb(20, 220, 60);
    overflow: auto;
}


.rightContainer {
    margin: auto;
    width: 100%;

}

.leftUl {
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.leftUl li {
    margin: auto;
    margin-top: 2%;
    width: 80%;
    border-radius: 15px;
    background-color: #ef0067;

}

.leftUl li:hover {
    background-color: rgb(203, 220, 20);
}
.rightUl li:hover {
    background-color: rgb(203, 220, 20);

}
.rightUl li {
    margin: auto;
    margin-top: 2%;
    width: 80%;
    border-radius: 15px;
    background-color: #ef0067;
}
.rightUl {
    list-style: none;
    align-items: center;
    text-align: center;
}

.createPsotContainer {
    margin: auto;
    width: 70%;
}

.modalcreatePostContainer {
    margin: auto;
    margin-top: 2%;
    align-content: center;
    left: 0;
    top: 0;
    width: 70%;
    /* background-color: rgb(255, 255, 0); */
    background-color: rgb(3, 225, 254);
    /* background-image: url("../../ComponentImages/logo1.png"); */
    background-size: 10%;
    border-radius: 55px;
    border-style: dashed;
    border-width: 7px;
    border-color: rgb(224, 26, 201);
}

.modalcreatePostContainer :hover {
    /* background-image: url("../../ComponentImages/logo ping.png"); */
    background-color: #0f0aa8;
    background-size: 10%;
    border-radius: 55px;
    border-width: 7px;
}

.postContainer {
    margin: auto;
    display: flex;
    width: 100%;
}

.postImage {
    float: left;
    width: 10%;
}

.navprofileImg {
    margin-bottom: 2%;
}

.createPostBtn {
    margin: auto;
}

.posts {
    margin: auto;
    background-color: #c6d03b;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 35px;
    border-style: double;
    border-width: 30px;
    width: 85%;
    height: 4%;
}

.posts article {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.posts .profileImage {
    width: 10%;
}

.postUserInfo {
    margin: auto;
    display: flex;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
}

.posts b {
    padding-top: 2%;
    padding-left: 2%;
    width: 50%;
}

.posts time {
    padding-top: 2%;
    margin-left: 15%;
}

.posts p {
    margin: auto;
    width: 80%;
    padding: 1% 1% 1% 1%;
}

.posts .imagePost {
    margin: auto;
    display: flex;
    /* overflow-wrap: normal; */
    width: 90%;
    overflow: auto;
    overflow: scroll;

}

.posts .imagePost::-webkit-scrollbar {
    display: block;
    background-color: #120edf;
    color: #ef0067;
    background: #1f92eb;
    outline: #3c8688;
    overflow-y: scroll;
}

.posts .imagePost img {
    border-radius: 35px;

}

.btnContainer {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    padding: 1% 1% 1% 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.likeBtn,
.commentBtn,
.shareBtn {
    margin: auto;
    width: 33%;
}

.like,
.comment,
.share {
    background-color: #ef0067;
    width: 100%;
    border-radius: 25px;
}

.share:hover {
    background-color: #1f92eb;
}

.like:hover {
    background-color: #1f92eb;

}

.comment:hover {
    background-color: #1f92eb;

}


@media only screen and (max-width: 768px) {
    .navbar {
        display: grid;
        position: relative;
        height: unset;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .leftNavbar {
        background-color: #00c3ef;
        margin-left: unset;
        margin-right: 5%;
        width: 120%;
        border-radius: 15px;
        display: inline;
    }

    .centerNavbar {
        background-color: #0e99df;
        width: 60%;
        border-radius: 15px;
        display: inline;
    }

    .rightNavbar {
        border-radius: 10px;

        background-color: #dfb20e;
        width: 100%;
        display: inline;
    }

    .mainsSection {
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .leftSidebar {
        display: block;
        margin: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #0af4f4;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 25px;
    }

    .leftContainer {
        display: block;
        margin: auto;
        width: 60%;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .leftUl {
        margin: auto;
        width: 100%;
    }

    .rightSide {
        display: block;
        margin: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #0af4f4;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 25px;
        margin-bottom: 25%;
    }

    .rightContainer {
        margin: auto;
        width: 60%;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .rightUl{
        margin: auto;
        width: 100%;
    }
    .rightUl li {
        background-color: #ef0067;
        width: 100%;
    }
    .leftUl li {
        background-color: #ef0067;
        width: 100%;
    }

    .postSection {
        width: 100%;
    }

}