.myProfileContainer{
    height: 92%;
    overflow-x: auto;
}
.coverContainer{
    position: relative;
    padding-top: 1%;
    margin: auto;
    display: flex;
    width: 80%;
    background-color: #c6d03b;
    background-image: url('../ComponentImages/logo1.png');
    border-radius: 25px;
    border-style: double;
    border-width: 20px;
}
.profilePicutre{
    position: absolute;
    width: 62%;
    padding-left: 40%;
    padding-top: 17%;
}
.imageContainer{
    width: 90%;
}
.profileImageMyProfil{
    margin: auto;
    border-style: double;
    border-width: 15px;
    border-radius: 80px;
    border-color: #0d0509;

    
}
.leftcoverImage{
    position: relative;
    padding-left: 2%;
    border-radius: 35px;
    height: 400px;
    width: 5000px;
}
.rightcoverImage{
    max-height: fit-content;
    position: relative;
    padding-left: 2%;
    border-radius: 35px;
    height: 400px;
    width: 5000px;

}
.leftCover{
    margin-left: 0.8%;
    width: 95%;
}
.rightCover{
    width: 95%;
    margin-bottom: 6%;
    margin-right: 1.5%;
}











/* navbar */
main {

    height: 100vh;
}

.mainContainer {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
}



.searchInput {
    border-radius: 25px;
    position: relative;
    width: 110%;
}

.leftNavbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
    display: flex;
    list-style: none;
    padding-left: 0.5%;
    height: 100%;
}

.centerNavbar {
    margin: auto;
    margin-top: 0 !important;
    display: inline-block;
    display: flex;
    height: 100%;
    list-style: none;
   
}

.rightNavbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    display: inline-block;
    display: flex;
    list-style: none;
    height: 100%;
}

li {
    padding-left: 3%;
    margin-bottom: 2%;
}

.searchElement {
    width: 50%;
}

.iconsContainer {
    position: relative;
    padding-top: 3%;

}

.iconsContainer i {
    z-index: 999;
    position: absolute;
    color: #120edf;
    top: 18%;
    left: 98%;

}

.homeIconLogo {
    width: 4.5vh;
    padding-top: 1%;
    padding-left: 0%;
    padding-bottom: 1%;
    color: #ef0067;
}

.homeIconLogo:hover {
    /* background-image: url("../../ComponentImages/logo ping.png"); */
    /* image: url("../../ComponentImages/logo ping.png"); */

}

.homeIcon {
    color: #ef0067;
    margin: auto;
    font-size: xx-large;
}

.pawIcon {
    color: #ef0067;
    margin: auto;
    font-size: xx-large;
    padding-left: 30%;
}

/* .logoImage {
    padding-top: 1%;
    padding-bottom: 1%;
} */

.profileImageLi {
    width: 17vh;
    height: 1vh;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
}

.rightIcons {
    margin: auto;
    color: #1f92eb;
    font-size: xx-large;
    margin-right: 5%;
    float: right;
}

/* main */

.mainSectionMyProfile {
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-bottom: 3%;
    padding-top: 1%;
}




.createPsotContainer {
    margin: auto;
    width: 70%;
}

.modalcreatePostContainer {
    margin: auto;
    margin-top: 2%;
    align-content: center;
    left: 0;
    top: 0;
    width: 70%;
    /* background-color: rgb(255, 255, 0); */
    background-color: rgb(3, 225, 254);
    /* background-image: url("../../ComponentImages/logo1.png"); */
    background-size: 10%;
    border-radius: 55px;
    border-style: dashed;
    border-width: 7px;
    border-color: rgb(224, 26, 201);
}

.modalcreatePostContainer :hover {
    /* background-image: url("../../ComponentImages/logo ping.png"); */
    background-color: #3c8688;
    background-size: 10%;
    border-radius: 55px;
    border-width: 7px;
}

.postContainer {
    margin: auto;
    display: flex;
    width: 100%;
}

.postImage {
    float: left;
    width: 10%;
}

.createPostBtn {
    margin: auto;
}

.posts {
    margin: auto;
    background-color:rgb(255, 255, 0);
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 35px;
    border-style: double;
    border-width: 30px;
    width: 85%;
    height: 4%;
}

.posts article {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.posts .profileImage {
    width: 10%;
}

.postUserInfo {
    margin: auto;
    display: flex;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
}

.posts b {
    padding-top: 2%;
    padding-left: 2%;
    width: 50%;
}

.posts time {
    padding-top: 2%;
    margin-left: 15%;
}

.posts p {
    margin: auto;
    width: 80%;
    padding: 1% 1% 1% 1%;
}

.posts .imagePost {
    margin: auto;
    display: flex;
    overflow: auto;
    /* overflow-wrap: normal; */
    width: 90%;

}

.posts .imagePost img {
    border-radius: 35px;

}

.btnContainer {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    padding: 1% 1% 1% 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.likeBtn, .commentBtn, .shareBtn{
    margin: auto;
    width: 33%;
}
.like, .comment, .share{
    background-color: #ef0067;
    width: 100%;
    border-radius: 25px;
}
.share:hover{
    background-color: #1f92eb;
}
.like:hover{
    background-color: #1f92eb;

}
.comment:hover{
    background-color: #1f92eb;

}
