.containerFooter {
    background-color: #309aec;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: auto;
}
.containerFooter p{
    margin: 2px 2px;
}
.containerFooter div{
    margin-right: 2px;
}
.containerFooter .contact{
    margin-right: 5%;
    margin-bottom: 5px;
    float: left;
}
@media screen and (max-width: 991px) {
    footer {
        padding-top: 2%;
        height: 5%;
    }

}
@media only screen and (max-width: 768px) {
    footer {
        padding-top: 2%;
        height: 10%;
    } 
}