.modalContainer {
    margin: auto;
    margin-top: 2%;
    align-content: center;
    display: block;
    left: 0;
    top: 0;
    width: 50%;
    /* background-color: rgb(255, 255, 0); */
    background-color: aqua;
    background-image: url("../ComponentImages/logo1.png");
    border-radius: 45px;
    border-style: double;
    border-width: 35px;
    border-color: rgb(255, 255, 0);

}

.imageContainer {

    margin: auto;
    width: 70%;
    padding-top: 2%;
    
}

.logoContainer {
    margin: auto;
    width: 70%;
    background-color: #201C1C;
    border-radius: 50px;
    border-style: double;
    border-color: rgb(255, 255, 0);
    border-color: rgb(255, 255, 0);
    border-width: 25px;
}

.containerImage {
    margin: auto;
    padding: 5% 5% 5% 5%;
    width: 50%;
    height: 50%;
    background-color: greenyellow;
    background-color: rgb(255, 255, 0);
    margin-top: 1%;
    border-radius: 200px;
    border-width: 30px;
    border-style: groove;
    border-color: aqua;
}

.labelContainer {
    margin: auto;
    padding-top: 2%;
    width: 50%;
    padding-left: 2%;
    margin-top: 2%;
    background-color: rgb(255, 255, 0);
    border-radius: 25px;
}

.emailContainer {
    margin: auto;
}

.passwordContainer {
    margin: auto;
}

.remember {
    margin: auto;
}

.signUp {
    margin: auto;
}

.emailContainer label,
input {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.emailContainer label {
    padding-left: 40%;
}

.emailContainer input {
    border-radius: 25px;
    border-style: double;
    border-width: 10px;
    color: #201C1C;
}

.email {
    background-color: rgb(255, 255, 0);
    text-decoration: double;
    text-decoration-color: rgb(255, 255, 0);
}

.passwordContainer {
    background-color: rgb(255, 255, 0);
    text-decoration: double;
    text-decoration-color: rgb(255, 255, 0);
}

.passwordContainer input {
    border-radius: 25px;
    border-width: 10px;
    border-style: double;
    color: #201C1C;
    background-color: rgb(255, 255, 0);
}

.passwordContainer label {
    width: 100%;
    padding-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rememberContainer {
    background-color: #201C1C;
    color: rgb(255, 255, 0);
    margin: auto;
    margin-top: 2%;
    border-radius: 25px;
    height: 30%;
    width: 70%;
    padding-left: 2%;
}

.rememberContainer label {
    width: 30%;
}

.remember {
    height: 25px;
    width: 50px;
}
.forgotContainer{
    width: 90%;
    margin: auto;
    padding-left: 10%;
    margin-top: 2%;
    border-style: double;
    border-radius: 25px;
    height: auto;
    background-color: #201C1C;
    color: rgb(255, 255, 0);
}
.formContainer{
padding-left: 0px;
margin-left: 15%;
}
.forgotContainer p{
    color: rgb(255, 255, 0);
}
.closeContainer{
    margin: auto;
    float: right;
    padding-top: 1%;
    padding-right: 1%;
    border-radius: 25px;
    height: 5%;
    /* color: rgb(255, 255, 0); */
}
.closeBtn{
    float: right;
    border-radius: 5px;

}
.closeIcon{
    font-size: xx-large;
}
.closeIcon:hover{
    color: red;
}
.icon{

    margin: auto;
    padding-left: 2%;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
}
.emailIcon{
    margin: auto;
    padding-left: 2%;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
}
.signUp{
    display: flex;
    margin: auto;
    width: 100%;
    border-radius: 45px;
    background-color: rgb(255, 255, 0);
    margin-bottom: 4%;
}
.signInwhithGoogle{
    background-color: aqua;
    color: aqua;
    border-radius: 25px;
    margin: auto;
    width: 45%;
    padding: 7px 7px 7px 7px;
    padding-left: 0%;
    margin-bottom: 2%;
    text-align: center;
    
    
}
.registerContainer{
    margin: auto;
    width: 45%;
    border-radius: 25px;
    background-color: aqua;
    color: #201C1C;
    padding: 7px 7px 7px 7px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

}
.registerSpan p{
    margin: auto;
   color: #201C1C;
  text-decoration: none;
   
}
.googleSpan p{

    margin: auto;
    color: #201C1C;
}

.loginContainer{
    margin: auto;
    padding-top: 2%;
    padding-left: 35%;
    content: center;
}
.LoginBtn{
    margin: auto;
    text-align: center;
    width: 50%;
    border-radius: 25px;
    background-color: aqua;
}

.errorContainer{
    color: aliceblue;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 60%;
    border-radius: 25px;
    background-color: red;
    text-align: center;
    font-size: xx-large;
    border-width: 10px;
    border-color: rgb(255, 255, 0);
}






@media only screen and (max-width: 768px) {
    .signUp{
        display: table;
    }
    .modalContainer{
        width: 100%;
    }
    .labelContainer{
        width: 100%;
    }
    .emailContainer{
        width: 100%;
    }
    .rememberContainer{
        width: 90%;
    }
    .signInwhithGoogle{
        width: 80%;
    }
    .registerContainer{
        width: 80%;
    }
  
  }
  
  @media screen and (max-width: 991px) {
    .signUp{
        display: table;
    }
    .modalContainer{
        width: 100%;
    }
    .labelContainer{
        width: 100%;
    }
    .emailContainer{
        width: 100%;
    }
    .rememberContainer{
        width: 90%;
    }
    .signInwhithGoogle{
        width: 80%;
    }
    .registerContainer{
        width: 80%;
    }
  
  }