@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Noto+Emoji:wght@300;400;500;600;700&display=swap');

*{
  font-family:  sans-serif;
  font-family: 'Lato', sans-serif;
}




body {
  width: 100%;
  height: auto;
  background-color: #201C1C;
  display: table;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "footer footer footer footer";
  grid-template-columns: 100% auto;
  grid-template-rows: 100% auto;
  height: 100vh;
  gap: 10px;
}


/* footer {
  grid-area: footer;
} */


@media screen and(min-width: 500px){
  body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100px auto;
    gap:10
  }

} 